*
!.gitignore
!compare_mmn.py
!compare_wannier.py
!compare_amn_ibz2fullbz.py
!Makefile.in
!mmn-test.bash.in
!gaas.pw2intw.in
!gaas.scf.in
!gaas.scf_irr.in
!As.pbe.fr.dojo04.upf
!Ga.pbe.fr.dojo04.upf
!gaas.win
!gaas_irr.win
!gaas.nscf.in
!gaas.pw2wannier.in
!gaas.intw_fullmesh.in
!gaas.intw_irr.in
!gaas.pw2intw.in
!gaas.pw2intw_irr.in
