*
!.gitignore
!B.pz-vbc.UPF
!create_intw_q_dirs.in
!intw.in
!intw_wann.in
!mgb2_a2F.png
!mgb2_bands.png
!mgb2_dos.png
!mgb2_ph_bands.png
!mgb2_ph_dos.png
!mgb2.pw2intw.in
!mgb2.scf.in
!mgb2.win
!Mg.pz-n-vbc.UPF
!phonons_333
!mgb2.ph.in
!Tutorial.md
