*
!.gitignore
!Makefile.in
!Cu.pbe-tm.UPF
!cu.scf.in
!cu.nscf.in
!qq1/
!qq2/
!qq3/
!cu.ph.in
!q2r.in
!cu.dyn0
!pw2intw.in
!nscf.pw2intw.in
!qlist.txt
!compare_matrix_elements.py
!reference/
!ref_ep_mat.dat_1
!ref_ep_mat.dat_2
!ref_ep_mat.dat_3
!ref_ep_mat.dat_4
!ref_ep_mat.dat_5
!ref_ep_mat.dat_6
!ref_ep_mat.dat_7
!ref_ep_mat.dat_8
