*
!.gitignore
!compare_hr.py
!Makefile.in
!w902intw-entangled-test.bash.in
!gaas.pw2intw.in
!gaas.scf.in
!As.pbe.sc.dojo05.upf
!Ga.pbe.sc.dojo05.upf
!gaas.win
!gaas.pw2wannier.in
!intw.in
!pw2intw.in
